@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: black;
}

#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.card {
    padding: 2em;
}

.menu-frotante {
    position: fixed;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* Ensure items are stacked vertically */
    align-items: flex-start;
    /* Align items to the start */
    gap: 8px;
    z-index: 1000;
    min-width: 150px;
    /* Set a minimum width */
}

.menu-frotante.arriba.centro {
    top: 80px;
    /* Adjusted to appear below the profile section */
    left: 50%;
    transform: translateX(-50%);
}

.menu-frotante.arriba.izquierda {
    top: 80px;
    left: 20px;
}

.menu-frotante.arriba.derecha {
    top: 80px;
    right: 20px;
}

.menu-frotante.abajo.izquierda {
    bottom: 80px;
    left: 20px;
}

.menu-frotante.abajo.centro {
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-frotante.abajo.derecha {
    bottom: 80px;
    right: 20px;
}

.icono {
    margin-right: 8px;
    /* Add space between icon and text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.menu-opcion {
    width: 100%;
    /* Make options take full width */
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.2s ease;
}

.menu-opcion:hover {
    background-color: #f0f0f0;
}

.menu-opcion:last-child {
    border-bottom: none;
}